/* [project]/new/nextjs-site/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after {
      --tw-rotate-x: initial;
      --tw-rotate-y: initial;
      --tw-rotate-z: initial;
      --tw-skew-x: initial;
      --tw-skew-y: initial;
      --tw-border-style: solid;
      --tw-outline-style: solid;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
      --tw-duration: initial;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-scale-z: 1;
    }

    ::backdrop {
      --tw-rotate-x: initial;
      --tw-rotate-y: initial;
      --tw-rotate-z: initial;
      --tw-skew-x: initial;
      --tw-skew-y: initial;
      --tw-border-style: solid;
      --tw-outline-style: solid;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
      --tw-duration: initial;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-scale-z: 1;
    }
  }
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.container {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.h-full {
  height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.transform {
  transform: var(--tw-rotate-x, ) var(--tw-rotate-y, ) var(--tw-rotate-z, ) var(--tw-skew-x, ) var(--tw-skew-y, );
}

.resize {
  resize: both;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.overflow-hidden {
  overflow: hidden;
}

.border {
  border-style: var(--tw-border-style);
  border-width: 1px;
}

.bg-gradient-to-r {
  --tw-gradient-position: to right in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.object-cover {
  object-fit: cover;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.outline {
  outline-style: var(--tw-outline-style);
  outline-width: 1px;
}

.filter {
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.transition {
  transition-property: color, background-color, border-color, outline-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, visibility, content-visibility, overlay, pointer-events;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.transition-colors {
  transition-property: color, background-color, border-color, outline-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.transition-shadow {
  transition-property: box-shadow;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.transition-transform {
  transition-property: transform, translate, scale, rotate;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.duration-300 {
  --tw-duration: .3s;
  transition-duration: .3s;
}

@media (hover: hover) {
  .hover\:scale-105:hover {
    --tw-scale-x: 105%;
    --tw-scale-y: 105%;
    --tw-scale-z: 105%;
    scale: var(--tw-scale-x) var(--tw-scale-y);
  }
}

@font-face {
  font-family: dinFont;
  src: url("/fonts/din1451alt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: dinBoldFont;
  src: url("/fonts/din1451altG.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary: #fff;
  --secondary: #000;
  --lightGrey: whitesmoke;
  --midGrey: #cacaca;
  --darkGrey: #272727;
  --danger: #ff3d3d;
  --font-primary: "Open Sans", sans-serif;
  --font-system: system-ui;
  --borderRadius: 3px;
}

::-webkit-scrollbar {
  width: .4rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--grey);
}

::-webkit-scrollbar-thumb {
  opacity: .3;
  background-color: #00215b;
}

::selection {
  background: rgba(0, 194, 189, .6);
}

html {
  box-sizing: border-box;
  background-image: url("/images/bg1.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  min-height: 100%;
  font-size: 53.5%;
}

body {
  color: #fff;
  min-height: 100%;
  font-size: 1.6em;
  font-family: var(--font-cabin), "Cabin", sans-serif;
  letter-spacing: .01em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  position: relative;
  background-color: rgba(0, 0, 0, 0) !important;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #f8ec21;
  border-bottom-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  margin: 0 0 .5em;
  font-family: dinBoldFont, sans-serif;
}

h1, h2 {
  background-image: url("/images/h1vl_rbg.png");
  background-position: 69px 15px;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 101px;
  font-size: 3.2rem;
}

.container-custom {
  margin: 20px 69px 40px;
}

#navc1:hover {
  color: #e476ae !important;
}

#navc2:hover {
  color: #ef4137 !important;
}

#navc3:hover {
  color: #1895d3 !important;
}

#navc4:hover {
  color: #814199 !important;
}

#navc5:hover {
  color: #12b258 !important;
}

.home-artists-links a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .container-custom {
    margin: 0 20px;
  }

  h1, h2 {
    background-position: 20px 15px;
    margin: 20px 0 0;
    padding-left: 52px;
  }

  .home-artists-links a {
    margin: 0 20px;
    font-size: 2.1rem;
  }
}

.light, .white {
  background-color: #000;
}

.dark {
  color: #fff;
  background-color: #000;
}

.text-white {
  color: #fff !important;
}

.bg-black, .bg-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

.anim.active {
  transition-property: top;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(.21, .31, 1, .27);
  top: 100% !important;
}

.home-artists-links a:nth-child(7n) {
  color: #fff;
}

.home-artists-links a:nth-child(7n+1) {
  color: #e476ae;
}

.home-artists-links a:nth-child(7n+2) {
  color: #ef4137;
}

.home-artists-links a:nth-child(7n+3) {
  color: #1895d3;
}

.home-artists-links a:nth-child(7n+4) {
  color: #f8ec21;
}

.home-artists-links a:nth-child(7n+5) {
  color: #814199;
}

.home-artists-links a:nth-child(7n+6) {
  color: #12b258;
}

.home-artists-links a:hover {
  text-decoration: underline;
  color: #f8ec21 !important;
}

.artist-link-0 {
  color: #fff;
}

.artist-link-1 {
  color: #e476ae;
}

.artist-link-2 {
  color: #ef4137;
}

.artist-link-3 {
  color: #1895d3;
}

.artist-link-4 {
  color: #f8ec21;
}

.artist-link-5 {
  color: #814199;
}

.artist-link-6 {
  color: #12b258;
}

.artist-link-0:hover, .artist-link-1:hover, .artist-link-2:hover, .artist-link-3:hover, .artist-link-4:hover, .artist-link-5:hover, .artist-link-6:hover {
  color: #f8ec21 !important;
  text-decoration: underline !important;
}

.PostSection--Grid {
  grid-gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: -60px;
  display: grid;
}

@media (max-width: 768px) {
  .PostSection--Grid {
    grid-gap: 2rem !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 600px) {
  .Blog {
    margin-top: 60px !important;
  }

  .fixcenter > div {
    width: 100% !important;
    margin-top: -56.25% !important;
    padding-top: 56.25% !important;
  }

  main h1 {
    background-position: 20px 15px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 52px;
  }

  .PostSection--Grid {
    grid-gap: 0 !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .home-artists-links p {
    margin: 0 20px !important;
    font-size: 2.1rem !important;
  }
}

@property --tw-rotate-x {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-y {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-z {
  syntax: "*";
  inherits: false
}

@property --tw-skew-x {
  syntax: "*";
  inherits: false
}

@property --tw-skew-y {
  syntax: "*";
  inherits: false
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-outline-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-blur {
  syntax: "*";
  inherits: false
}

@property --tw-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-invert {
  syntax: "*";
  inherits: false
}

@property --tw-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-drop-shadow-size {
  syntax: "*";
  inherits: false
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

@property --tw-scale-x {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-y {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-z {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

/*# sourceMappingURL=new_nextjs-site_app_globals_css_bad6b30c._.single.css.map*/