:root {
  --primary: #ffffff;
  --secondary: #000;
  --lightGrey: whitesmoke;
  --midGrey: #cacaca;
  --darkGrey: #272727;
  --danger: #ff3d3d;
  --font-primary: 'Open Sans', sans-serif;
  --font-system: system-ui; /* postcssPresetEnv */
  --borderRadius: 3px;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 33, 91);
  opacity:0.3;
}

::selection {
  background: rgba(0, 194, 189, 0.6);
}

/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,700,700i&display=swap');

/* DIN Font Face */
@font-face {
  font-family: 'dinBoldFont';
  src: url('/fonts/din1451alt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dinBoldFont';
  src: url('/fonts/din1451altG.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



/* Button Skew Fix */

.skew-fix{
  display:inline-block;
  transform: skew(20deg);
}

html {
  box-sizing: border-box;
  font-size: 53.5%;
  min-height: 100%;
  background-image: url("/images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Improve scrolling performance on mobile */
  -webkit-overflow-scrolling: touch;
}

body {
  min-height: 100%;
  position: relative;
  color: white;
  font-size: 1.6em;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}


ul {
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blue;
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'dinBoldFont', sans-serif;
  margin: 0;
  margin-bottom: 0.5em;
}

h1, h2 {
  font-size: 3.2rem;
  padding: 10px;
  padding-left: 101px;
  background-image: url("/images/h1vl_rbg.png");
  background-repeat: no-repeat;
  background-position: 69px 15px;
}

.marginFix h1, h2 {
  padding-left: 32px;
  background-position: 0px 15px;
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 1px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--primary);
}

/* Utility Classes */
.light {
  background-color: black;
}
.white {
  background-color: rgb(0, 0, 0);
}
.dark {
  background-color: black;
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Layout */

.section {
  width: 100%;
}
.section:last-child {
  border: 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
}
.section.noPadding {
  padding: 0;
}


.container {
/* Old  max-width: 1111px;
  width: 90%;
  margin: 0 auto;*/
  margin-right: 69px;
  margin-left: 69px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}

/* @media (max-width: 860px) {
  .smedialinks {
    display: none;
  }
} */



@media (max-width: 600px) {
  .section {
    width: 100%;
    padding: 2rem 0;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
  .container {
    margin:0px 20px;
  }
  .Contact--Section1 {
    padding: 0px;
  }
  .hide {
    display: none;
  }
  .smedialinks {
    display: block;
  }
}


/* Buttons */

.Button {
  background: var(--primary);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1.25rem 3rem;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
}
.Button:hover,
.Button:focus {
  opacity: 0.7;
  outline: none;
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =====================================================
   MOBILE OPTIMIZATIONS
   ===================================================== */

@media (max-width: 768px) {
  /* Improve touch targets */
  a, button {
    min-height: 44px;
    min-width: 44px;
  }
  
  /* Better font sizes for readability */
  body {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  /* Optimize background for mobile */
  html {
    background-attachment: scroll; /* Fixed backgrounds can cause performance issues */
  }
  
  /* Prevent horizontal scrolling */
  body {
    overflow-x: hidden;
  }
  
  /* Better spacing for touch */
  .container {
    padding: 0 1rem;
  }
  
  /* Improve form usability - prevent zoom on iOS */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  textarea,
  select {
    font-size: 16px !important;
  }
  
  /* Better image handling */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Optimize iframes */
  iframe {
    max-width: 100%;
  }
}

/* Extra small devices */
@media (max-width: 480px) {
  /* Smaller font adjustments */
  h1 {
    font-size: 2.4rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.8rem;
  }
  
  /* Optimize spacing */
  section {
    padding: 2rem 0;
  }
  
  /* Buttons full width on mobile */
  .Button {
    width: 100%;
    margin-bottom: 1rem;
  }
}

/* Landscape orientation adjustments */
@media (max-height: 500px) and (orientation: landscape) {
  .Nav {
    position: relative;
    height: auto;
  }
  
  .fixcenter {
    margin-top: 1rem;
  }
  
  /* Reduce vertical padding in landscape */
  .section {
    padding: 1rem 0;
  }
}
